<div class="container">
  <div class="cont-1">
    <div>
      <span style=" font-weight:500; font-size: 20px; margin-right: 5px;">Books</span>
      <span>({{booksCount}} items)</span>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" class="sort">Sort by relevence</button>
    <mat-menu style="display: flex; flex-direction:column" #menu="matMenu" style="color: #878787;" Sort by relevance>
      <button value="low to high" (click)="LowToHigh()" class="sort-bt">Low to high</button>
      <button value="high to low" (click)="HighToLow()" class="sort-bt">High to low</button>
      <button value="recent added" (click)="RecentlyAdded()" class="sort-bt">Recently added</button>
    </mat-menu>
  </div>
  <div class="bookContainer" *ngFor="let books of bookList | filter : filterBook" (click)="quickView(books.bookId)">
    <div class="books">
      <div class="images">
        <img class="bookImg" src="{{books.bookImage}}">
      </div>
      <div class="bookdesc">
        <span style="font-weight: 450;">{{books.bookName}}</span>
        <span style="font-size: 13px; opacity:.5;">by {{books.authorName}}</span>
        <div style="display: flex; gap:5px; ">
          <div class="rating">
            <span style="color: white;">{{books.rating}}</span>
            <img style="height: 10px; width:10px;" src="../../../assets/star_rate.svg">
          </div>
          <span style="opacity:.6;">({{books.totalRating}})</span>
        </div>
        <div style="display: flex; gap:7px;">
          <span>Rs. {{books.discountPrice}}</span>
          <span style="opacity: .6; font-size:11px; text-decoration: line-through;">Rs. {{books.actualPrice}}</span>
        </div>
      </div>
    </div>
  </div>
</div>