<div class="div-2">
    <div>
        <span routerLink="/home"
            style=" cursor: pointer; font-weight:500; font-size: 15px; margin-right: 5px; opacity: .5;">Home / </span>
        <span>My cart </span>
    </div>
    <div class="container">
        <div class="cartContainer">
            <label>My cart ({{cartQty}})</label>
            <span class="location">
                <img style="height: 18px; width: 18px; "
                    src="../../../assets/location_on_FILL0_wght400_GRAD0_opsz48.svg">
                <label>Use Current Location</label>
            </span>
        </div>
        <div style="display: flex; flex-direction : row; gap:20px; margin-bottom: 20px;"
            *ngFor='let books of cartItems'>
            <img style="width: 100px; height:140px;" src="{{books.bookImage}}">
            <div class="bookDetails">
                <label style="font-size: 15px;">{{books.bookName}}</label>
                <label style="opacity: .6;">by {{books.authorName}}</label>
                <div style="display: flex; gap:7px;">
                    <span>Rs. {{books.discountPrice * books.quantity}}</span>
                    <span style="opacity: .6; font-size:11px; text-decoration: line-through;">Rs.
                        {{books.actualPrice}}</span>
                </div>
                <div style="display:flex; gap:10px;" >
                    <button class="buttons" (click)="reduceQty(books.bookId)">-</button>
                    <label>{{books.quantity}}</label>
                    <button class="buttons" (click)="increaseQty(books.bookId)">+</button>
                </div>
                <!-- <div style="display: flex; gap:350px; margin: 10px;">
                    <button class="button-1" (click)="removeCart(books.bookId)">
                        Remove
                    </button>
                    <button class="button-1" (click)="shareToOrder(books.bookId)" >
                        Placeorder
                    </button> 
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cartContainer">
            <label>Address Details</label>
            
        </div>
    </div>
    <div class="container">
        <div class="cartContainer">
            <label>Order Summery</label>
        </div>
    </div>
</div>


