<div class="div-2">
    <div>
        <span routerLink="/home"
            style=" cursor: pointer; font-weight:500; font-size: 15px; margin-right: 5px; opacity: .5;">Home / </span>
        <span>Quickview</span>
    </div>
    <div class="quickView">
        <div class="bookImg">
            <img style="width: 200px; height: 260px; padding: 20px;" src={{bookById?.bookImage}}>
            <div style="margin-top: 0px; display: flex;flex-direction: row; justify-content: space-around;">
                <button class="cartbuttons" style="background: #A03037; color: #FCFCFC;" (click)="cart()">
                    ADD TO BAG
                </button>
                <button class="cartbuttons" style="background : #333333; color: #FCFCFC;" (click)="wishlist()">
                    WISHLIST
                </button>
            </div>
        </div>
        <div class="details">
            <span style="font-size: 18px; ">{{bookById?.bookName}}</span>
            <span style="opacity: .6;">by {{bookById?.authorName}}</span>
            <div style="display: flex; gap:10px">
                <div class="rating">
                    <span style="color: white;">{{bookById?.rating}}</span>
                    
                    <img style="height: 10px; width:10px;" src="../../../assets/star_rate.svg">
                </div>
                <span style="opacity:.6;">({{bookById?.totalRating}})</span>
            </div>
            <div style="display: flex; gap:7px; border-bottom:1px solid grey ; padding-bottom: 25px;">
                <span style="font-size: 18px;">Rs. {{bookById?.discountPrice}}</span>
                <span style="opacity: .6; font-size:12px; text-decoration: line-through;">Rs.
                    {{bookById?.actualPrice}}</span>
            </div>
            <div style="display: flex; align-items: center; gap: 10px; padding-top: 20px;">
                <img style="width: 8px; height:8px; opacity: .6;" src="../../../assets/dot-svgrepo-com.svg">
                <span style="font-size: 18px;">Book Detail</span>
            </div>
            <div style="font-size: 15px; padding-left: 20px; border-bottom:1px solid grey ; padding-bottom: 25px;">
                {{bookById?.description}}
            </div>
            <div>
                <p style="font-size: 18px;">Customer Feedback</p>
                <div class="form">
                    <label>Overall rating</label>
                    <div style="padding: 10px;">
                        <ngb-rating class="star" [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
                    </div>
                    <textarea matInput [(ngModel)]="review" style="padding-top:10px; border: none; outline: none;"
                        placeholder="Write your review"></textarea>
                    <button class="submitButton" >Submit</button>
                </div>
                <label style="margin-top: 25px;font-weight:550; font-size:20px">Reviews</label>
            </div>
            <div *ngFor = 'let getrating of feedbackList' style="border-bottom: 1px solid black;">
                <label>{{getrating.userName}}</label>
                <div style="padding: 10px;">
                    <ngb-rating class="star" [max]="5" [(rate)]="getrating.rating" [readonly]="true"></ngb-rating>
                </div>
                <label >{{getrating.comment}}</label>
            </div>
        </div>
    </div>