<div class="main">
    <div class="div-1">
        <img src="../../../assets/onlineshopping.png" style="width: 250px; height: 250px; border-radius: 100%;">
        <span class="div-1-span">ONLINE BOOK SHOPPING</span>
    </div>
    <mat-card class="div-2">
        <div style="display: flex; gap:120px">
            <button routerLink="/login" class="buttons buttons-font" style="opacity: .6;">
                LOGIN
            </button>
            <button class="buttons buttons-font">
                SIGNUP
            </button>
        </div>
        <div>
            <form [formGroup] = "RegisterForm" (ngSubmit) = "onSubmit()" style="align-items: center;">
                <div style="display: flex; flex-direction:column;">
                    <span>Full Name</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="FullName" >
                        <mat-error>Enter full name</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column;">
                    <span>Email Id</span>
                    <mat-form-field appearance="outline">
                        <input matInput  type="text" class="input-field" formControlName="EmailId">
                        <mat-error>Enter Email Id</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column;">
                    <span>Password</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="password" class="input-field" formControlName="Password">
                        <mat-error>Enter Password</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column; margin-top: 0px;">
                    <span>Phone Number</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="Mobile">
                        <mat-error>Enter Mobile</mat-error>
                    </mat-form-field>
                </div>
                <button class="buttons button-signup" >SIGNUP</button>
            </form>
        </div>
    </mat-card>

</div>