<div>
    <div class="div-1">
        <div class="div-1-1">
            <img src="../../../assets/education.svg">
            <span class="header-font">Bookstore</span>
            <div class="search">
                <img src="../../../assets/search_icon.svg">
                <input class="search-input" type="text" placeholder="Search..." (keyup)="search($event)">
            </div>
            <div class="rh-icon">
                <button class="header-button" style="margin-left: 170px;">
                    <img class="fill" [matMenuTriggerFor]="moreMenu" src="../../../assets/person.svg"
                        style="height: 25px; width : 25px;  ">
                    <span style="color: white; font-size:10px;">Profile</span>
                </button>
                <button class="header-button" routerLink="/home/cart">
                    <img class="fill" src="../../../assets/home-cart.svg" style="height: 25px; width : 25px; ">
                    <span style="color: white; font-size:10px;">Cart</span>
                </button>
            </div>
            <mat-menu #moreMenu="matMenu" xPosition="before">
                <div style="display: flex; flex-direction:column; padding: 10px 10px;">
                    <span style="font-weight: 550;">Welcome</span>
                    <span style="opacity: .5; margin-top:5px">To access account and manage order</span>
                </div>
                <div *ngIf="isLoggegIn; else notLoggedIn">
                <button mat-menu-item class="mat-menu" routerLink="/login">LOGGED IN</button>
                </div>
                <ng-template #notLoggedIn>
                    <button mat-menu-item class="mat-menu" routerLink="/login">LOGIN/SIGNUP</button>
                  </ng-template>
                <button mat-menu-item routerLink="/home/order"><img style="height: 25px; width:25px; padding-right:10px;"  src="../../../assets/orders-gray.svg">My orders</button>
                <button mat-menu-item routerLink="/home/wishlist"> <img  style="height: 25px; width:25px; padding-right:10px;"  src="../../../assets/favorite-gray.svg">Wishlist</button>
                <button mat-menu-item (click)="logout()"><img style="height: 20px; width:25px; padding-right:10px; opacity: .6;" src="../../../assets/logout_FILL0_wght400_GRAD0_opsz48.svg"> Logout</button>
            </mat-menu>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>